@media (max-width:1000px) {

    .media-card {

        display: flex;
        justify-content: center !important;
        align-items: center !important;


    }

    .custom-rectangle-projects{
        width: 340px !important ; 
        height: 230px !important;
        background-size: cover;
    }

    .media-font-title{

        font-size: 22px !important;
    }

    .media-font-desc{

        font-size: 14px;
    }

    .media-font-title-2{

        font-size: 16px !important;
    }



}

@media (min-width:1200px) {
    .media-font{
        margin-left: -120px !important;
    }


}

.custom-rectangle-projects{
    width: 250px; 
    height: 180px;
    border-radius: 6px;
    margin-top: 10px;
    background-color: grey;
    background-size: cover;
    background-position: center;
}

.media-font-title-1{
    margin-top: 30px;
    font-size: 20px ;
}

.media-font-title-2{

    font-size: 16px ;
    padding-bottom: 30px;
}